//Colors
$color-backgrund: #5e5e5e;
$color-primary: #19229c;
$color-primary-light: #5562eb;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #d3d3d3;
$color-grey-light-2: #c2c2c2;
$color-grey-light-3: #f7f7f7;

$color-valid-dark: rgb(28, 184, 28);
$color-valid-light: rgb(247, 255, 238);

$color-invalid-dark: rgb(241, 45, 45);
$color-invalid-light: rgb(255, 244, 244);
$color-grey-dark-1: rgb(133, 133, 133);
$color-grey-dark-2: #3C454C;

$color-confirm: #54E0C7;


$timing: 2s